#//---Base---//
alias home="cd ~"
alias edal="code ~/.aliases"
alias dev="cd ~/Herd/"
alias desktop="cd ~/Desktop/"
alias finder="open -a Finder"
alias '?'="which"
alias l='ls -AFGhlo | tail -n +2'

#//---Dependencies---//
alias maintain="brew upgrade && brew cleanup && composer global update"
alias updep="composer update && npm update"

#//---OhMyZsh---//
alias zconf="code ~/.zshrc"

#//---NPM---//
alias nrd="npm run dev"
alias nrw="npm run watch"

#//---Herd--//
alias hstart="herd start"
alias hstop="herd stop"
alias hre="herd restart"
alias hsec="herd secure"

#//---Laravel--//
alias artisan="php artisan"
alias sail='[ -f sail ] && sh sail || sh vendor/bin/sail'

# Artisan Comands
alias tinker="artisan tinker"
alias am="artisan migrate"
alias amf="artisan migrate:fresh"
alias amfs="artisan migrate:fresh --seed"
alias amkm="artisan make:model"
alias amkc="artisan make:controller"
alias amkf="artisan make:factory"
alias amki="artisan make:migration"
alias at="artisan test"
alias atp="artisan test --parallel"
alias amkt="artisan make:test"

#//---Git---//
#Init
alias ginit="git init; gaa; gcm 'init'";

#Config
alias gcg="git config --global"
alias gcgl="git --no-pager config --global -l"
alias gcge="gcg -e"

#Adding
alias ga="git add"
alias gaa="git add ."

#Status
alias gs="git status --short --branch"

#Log
alias gl="git log --stat"
alias glfm="git log origin/main..@"
alias glfd="git log origin/develop..@"
function glgr(){
   gl --grep=$1
}
function glogr(){
   glo --grep=$1
}
function gpbc(){
    COMMIT=$(git log --pretty=format:'%h' -n 1);
    echo ${COMMIT} | pbcopy;
    echo "Commit ${COMMIT} copied to clipboard!"
}

#Diff
alias gd="git diff"
function gdf(){
    git diff $1..@;
}
alias gdfm="git diff origin/main..@"
alias gdfd="git diff origin/develop..@"
alias gdth="git diff-tree --no-commit-id --name-only -r"
alias gdth="gdt @"
alias gdto="gdt --diff-filter=d @{u}..@"

#Show
alias gsh="git show"

#Commit
alias gc="git commit"
alias gcm="git commit -m"
unalias gwip &>/dev/null
function gwip(){
    gaa;
    gcm "wip";
}

#Merge
alias gm="git merge"
alias gms="git merge --squash"

#Push
alias gp="git push -u"
alias gpf="git push -f"
alias gus="git branch --unset-upstream"

#Pull
alias gpl="git pull -p --rebase"
alias gplm="gpl origin main";
alias gpld="gpl origin develop";

#Fetch
alias gf="git fetch -p"

#Branch/Checkout
alias gb="git branch"
alias gco="git checkout"
alias gcom="git checkout main"
alias gcod="git checkout develop"
alias gcob="git checkout -b"
alias gbm="git branch -m"

#Rebase
function grbf(){
   git rebase -i origin/$1
}
alias grbfm="grbf main"
alias grbfd="grbf develop"
function grbfh(){
   git rebase -i HEAD~$1
}
function grbfo(){
   git rebase -i @{u}
}

#Delete / Reset
alias nah="git reset --hard; git clean -df;"
alias grh="git reset --hard"
alias grho="git reset --hard @{u}"
alias grs="git reset --soft"
alias grso="git reset --soft @{u}"
alias gbd="gb -D"
alias gbdo="gp -d origin"

#Remote
alias grpo="git remote prune origin"
