[user]
    name = Felipe Vega
    email = felipe@besmartee.com
[core]
    editor = code --wait
[push]
    default = current
[pager]
    branch = false
    tag = false
[log]
    date = format-local: %a | %Y-%m-%d | %I:%M:%S %p
